.learning {
  max-width: 420px;
  height: 100vh;
  //   background-color: #efefef;
  text-align: center;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  h2 {
    padding: 30px 0 45px 0;
    font-size: 24px;
    font-weight: 400;
  }
  .main {
    width: 100%;
    position: relative;
    img {
      width: 75%;
      display: block;
      margin: auto;
      padding-right: 20px;
    }
    // 목표 진행률
    .progressState {
      margin: auto;
      padding: 30px 30px 10px;
      width: 100%;
      display: flex;
      gap: 5px;
      align-items: center;
      .stick {
        margin-left: 10px;
        position: relative;
        width: calc(100% - 45px);
        height: 10px;
        border-radius: 5px;
        background-color: #e1e1e1;
        box-shadow: 0 0 4px 4px #efefef;
        .progress {
          position: absolute;
          bottom: 0;
          left: 0;
          max-width: 100%;
          width: 50px;
          height: 100%;
          border-radius: 5px;
          background-color: #fff;
          transition: all 0.3s ease;
        }
      }
      p {
        width: 40px;
        text-align: center;
      }
    }
    // 목표설정
    .goal {
      margin: 10px 30px 60px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;
      button {
        width: 100px;
        padding: 10px 0;
        background-color: #fff;
        border: none;
        border-radius: 50px;
        box-shadow: 0 0 4px 4px #efefef;
        font-size: 14px;
      }
    }
    // 기록버튼들
    .buttons{
        padding: 0 30px 30px ;
        display: flex;
        justify-content: space-between;
        position: relative;
        button{
            width: 70px;
            height: 70px;
            border-radius: 50px;
            background-color: #fff;
            font-size: 14px;
            border: none;
            box-shadow: 0 0 4px 4px #efefef;
            // &:nth-child(2){
            //   padding: 4px 8px 0;
            // }
            &:nth-child(3){
              padding: 2px 10px 0;
            }
        }
        .edit{
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          font-size: 13px;
          color: #777;
          text-decoration: underline;
        }
    }
  }
}
// 이미지 키프레임

