.workout {
  max-width: 420px;
  height: 100vh;
  //   background-color: #efefef;
  text-align: center;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  h2 {
    padding: 30px 0 12px 0;
    font-size: 24px;
    font-weight: 400;
  }
  p{
    color: #777;
    padding-bottom: 30px;
  }
}
