.menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 999;
  // 처음에는 위로 숨김
  transform: translateY(-120%);
  transition: transform 0.5s ease;
  //   메뉴오픈하면
  &.open {
    transform: translateY(0);
  }
  h2 {
    padding:50px 0;
    font-size: 24px;
    font-weight: 400;
  }
  //   메뉴들
  ul {
    width: 100%;
    li {
      margin: auto;
      width: 70%;
      font-size: 18px;
      line-height: 3;
      border-bottom: 0.5px solid #eeee;
    }
  }
}
