/* App */
.App {
  margin: 0 auto;
  max-width: 420px;
  height: 100vh;
  //   background-color: #efefef;
  text-align: center;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  // 메뉴앵글
  .angle {
    width: 35px;
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 9999;
    transition: transform 0.2s ease;
    &.rotated {
      transform: rotate(180deg);
    }
  }
}
